.btn {

	display: block;
	width: 200px;
	background: none;
	margin: 10px;
	padding: 10px 0;
	border: 0;
	border-radius: 10px;

	&.btn-laranja {
		@include button-style($color-orange, $color-white);
	}

	&.btn-purple {
		@include button-style($color-purple, $color-white);
	}

	&.btn-yellow {
		@include button-style($color-yellow, $color-black);
	}

}

